<!doctype html>
<title>Testing WAV-TO-LIPSYNC</title>
<style>
	body {
		background-image: url('https://www.hdimages.pics/images/quotes/english/general/bokeh-effect-on-dark-background-52650-308200-960-540.jpg');
		background-repeat: no-repeat;
		/* background-position: center; */
		background-size: cover;
		/* height: 100%; */
		text-align: center;
		color:white;
		font-size:30px;
	}
	h2{
		
		font-size:50px;
		text-align: center;
	}
	input{
		  font-size:20px;
	}
	form{
		width:100px;
		height:40px;
		text-align:start;
		margin-left:45%;
	}
</style>
<body>
<h2>Final Lip-Synced Result:</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
<form method="get" action="/display/result_voice.mp4" enctype="multipart/form-data">
    <p>
		<input type="submit" value="Play Video">
	</p>
</form>
</body>